*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden;
}

/*welcome*/
header{
	background-color:#87509C;
	color: white;
	text-align: center;
	padding: 50px;
}
ul li{
	list-style: none;
	display: inline-block;
	padding: 15px;
	color: white;
	margin-bottom: 30px;
}
header .btn-primary{
	background-color:#EB7D4B;
	margin: 40px;
}

/*services*/
.services{
	background-color:#17C2A4;
}
h2{
	color: white;
	text-align: center;
	margin-top: 100px;
}
hr{
	width: 150px;
	margin: 0 auto;
}
.services_text{
	color: white;
	text-align: center;
	margin-top: 50px;
}
.our_services{
	text-align: center;
	margin-top: 50px;
}
h4{
	text-align: center;
	color: white;
	margin-top: 50px;
}
.services_title_text{
	margin: 0 auto;
	color: white;
	margin-top: 50px;
	margin-bottom: 50px;
}

/*team*/
.team{
	text-align: center;
}
#team{
	color: #3C4761;
	margin-bottom: 20px;
}
.team_title{
	color:#878787;
	margin-bottom: 50px;
}
.person{
	color:  #3C4761;
	
}
.person_title{
	color: #1898d6;
}
.person_description{
	color:#a29c9c;
}
.links{
	margin-bottom:120px; 
}
.fa-facebook-f,.fa-instagram,.fa-twitter,.fa-yahoo{
	color: grey;
	padding: 15px;
}
/*skills*/
.about{
	margin-bottom: 50px;
	color: #a29c9c;
	text-align: center;
}
.skills{
	text-align: center;
	margin-bottom: 100px;
	
}
.skills_group{
	color:  #3C4761;
}
/*portfolio*/
.portfolio{
	text-align: center;
	background-color: #FFDD99;
}
.all{
	border: 2px solid grey;
	color: black;
	border-radius: 10%;
	background-color: white;
}
.icon{
	border: 2px solid grey;
	background-color:#EBC985;
	color: black;
	border-radius: 10%;
	margin-bottom: 50px;
	
}
.about_portfolio{
	color:#A28E69;
	padding: 15px;
}
.btn-warning{
	color:white;
	background-color: #17C2A4;
	margin-bottom: 100px;
		
}
/*About us*/
.about_us{
	background-color: #D74680;
	text-align: left;
	
}
h3{
	color: white;
	padding: 20px 0;
	
}
.comment_title{
	color: antiquewhite;
	margin-bottom: 50px;
}
.comment_text{
	font-style: italic;
	color: #e3b5d8;
	font-size: 13px;
	
}

.card_about1, .card_about2{
	padding-top: 100px;
	
}
.card_about1{
	margin-left: 30px;
	
}
/*footer*/
footer{
	background-color: #3C5499;
	text-align: center;
}
.footer_text{
	color: white;
	margin-top: 50px;
}
.feedback{
	margin-top: 50px;
}
textarea{
	margin-top: 50px;
}
